body {
    padding-bottom: 100px;
    padding-top: 100px;
    /*background-color: #EAFFD0 !important;*/
    background-color: #ADBC9F !important;
}

.header {
    /*background-color: #F38181;*/
    background-color: #436850;
}

.footer {
    /*background-color: #95E1D3;*/
    background-color: #FBFADA;
}

.nav-link {
    color: #000000 !important;
}

.navbar-text {
    color: #ffffff !important;
}
